[Unit]
Description=Aurora Beanstalkd Dashboard

[Service]
Type=simple
ExecStart=/usr/local/bin/aurora -c /etc/aurora.toml

[Install]
WantedBy=multi-user.target
