<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Skeleton -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />

    <!-- MDCS Remote -->
    <link rel="stylesheet" href="remote.css" />
    <title>MDCS Remote</title>
  </head>
  <body>
    <!-- RemoteView -->
    <div id="remote" class="container">
      <section class="header">
        <h1>Remote</h1>
        <!-- TODO: task status indicator -->
      </section>

      <!-- ControlSetListView -->
      <section class="controlsets"></section>
    </div>

    <!-- ControlSetDetailView template -->
    <script type="text/template" id="controlset-tmpl">
      <h3><%= name %></h3>
      <p><%= description %></p>
    </script>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Underscore.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

    <!-- Backbone.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>

    <!-- MDCS Remote -->
    <script src="remote.js"></script>
  </body>
</html>
