<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Skeleton -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />

    <!-- MDCS Remote -->
    <link rel="stylesheet" href="remote.css" />
    <title>MDCS Remote</title>
  </head>
  <body>
    <!-- Application container -->
    <div id="remote" class="container"></div>

    <!-- DashboardView template -->
    <script type="text/template" id="remote-dashboard-tmpl">
      <section id="<%= vid %>-controlsets"></section>
      <section id="<%= vid %>-create">
        <form>
          <label for="<%= vid %>-name">Name</label>
          <input id="<%= vid %>-name" type="text" class="u-full-width">

          <label for="<%= vid %>-configType">Config Type</label>
          <select id="<%= vid %>-configType" class="u-full-width">
            <option value="lua">Lua</option>
          </select>

          <label for="<%= vid %>-description">Description</label>
          <input id="<%= vid %>-description" type="text" class="u-full-width">

          <input data-action="create"
            type="submit"
            class="button-primary"
            value="Create">

          <input data-action="reset"
            type="reset"
            value="Reset">
        </form>
      </section>
    </script>

    <!-- ControlSetTableView template -->
    <script type="text/template" id="remote-cs-table-tmpl">
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Name</th>
            <th>Config Type</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </script>

    <!-- ControlSetRowView template -->
    <script type="text/template" id="remote-cs-row-tmpl">
      <td>
        <a href="#controlset/<%= model.uuid %>"><%= model.name %></a>
      </td>
      <td><%= model.configType %></td>
      <td><%= model.description %></td>
      <td>
        <button data-action="delete">Delete</button>
      </td>
    </script>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Underscore.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

    <!-- Backbone.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>

    <!-- MDCS Remote -->
    <script src="remote.js"></script>
  </body>
</html>
